RewriteEngine On 
RewriteBase / 
RewriteCond %{HTTPS} !=on 
RewriteCond %{HTTP_HOST} ^dominio\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.dominio\.com$ 
RewriteRule .* https://dominio.com%{REQUEST_URI} [R=301,L]
